body {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
    font-family: Roboto;
}

.content {
    position: absolute;
    width: 100%;
}

header {
    position: fixed;
    height: 84px;
    width: 100%;
    background-color: #007765;
    margin: auto;
    overflow: hidden;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

.logo {
    position: relative;
    width: 184px;
    height: 45px;
    top: 20px;
    float: left;
}

ul {
    position: relative;
    padding: 0;
    margin: 0;
    top: 28px;
    float: right;
    text-align: center;
    display: inline;
}

li {
    padding: 0;
    text-align: center;
    display: inline;
    margin: 8px;
}

.jumbotron {
    top: 84px;
    padding: 0;
    height: 403px;
    background-image: url(../images/jumbotron.png);
    text-align: center;
    margin: auto;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 72px;
}

.problem {
    height: 719px;
}

.hero {
    height: 483px;
    background-image: url(../images/hero.png);
    text-align: center;
    margin: auto;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 72px;
}

.ppc {
    height: 845px;
    background-color: #FFFFFF;
}

footer {
    height: 176px;
    background-color: #333333;
}